<html>
<head>
  <title>Import CSV</title>
</head>
<body>
  <h1>Importar CSV</h1>
  <form action="/import" method="post" enctype="multipart/form-data">
    <input type="file" name="file">
    <input type="submit" value="Importar">
  </form>
</body>
</html>
